.container() {
  max-width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    max-width: 660px;
  }

  @media @desktop-width {
    max-width: 960px;
  }
}

.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
