.contacts {
  min-height: 413px;
  color: @main-bg-dark;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 37px;

  .container();
  .clearfix();

  @media @tablet-width {
    min-height: 401px;
    padding-bottom: 23px;
  }

  @media @desktop-width {
    min-height: 366px;
  }
}

.contacts span {
  display: block;
}

.contacts a {
  display: block;
  text-decoration: none;
}

.contacts__intro {
  min-height: 132px;
  padding: 42px 20px 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.21;

  @media @tablet-width {
    padding: 47px 45px 0;
    font-size: 40px;
  }

  @media @desktop-width {
    padding: 64px 120px 0;
    font-size: 50px;
  }
}

.contacts__email,
.contacts__phone,
.contacts__address {
  @media @tablet-width {
    text-align: center;
  }
}

.contacts__email,
.contacts__phone {
  min-height: 66px;
  padding: 4px 20px 0;

  @media @tablet-width {
    width: 45.454%;
    margin-top: 45px;
    padding: 0;
  }
}

.contacts__phone {

  @media @tablet-width {
    float: left;
    margin-left: 9px;
  }

  @media @desktop-width {
    display: inline-block;
    vertical-align: top;
    width: 31.944%;
    margin-top: 57px;
    margin-left: 0;
  }
}

.contacts__email {
  margin-left: 4px;

  @media @tablet-width {
    float: right;
    margin-right: 9px;
    margin-left: 0;
  }

  @media @desktop-width {
    display: inline-block;
    vertical-align: top;
    width: 31.944%;
    margin-top: 57px;
    margin-right: 0;
  }
}

.contacts__address {
  position: relative;
  padding: 0 20px;

  @media @tablet-width {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    padding: 0 185px;
  }

  @media @desktop-width {
    display: inline-block;
    vertical-align: top;
    width: 31.944%;
    margin-top: 31px;
    padding: 0 5px;
  }
}

.contacts__email a,
.contacts__phone a,
.contacts__address p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.21;
  color: @shade-of-red;
}

.contacts__address p {

  @media @tablet-width {
    margin-top: 3px;
  }

  @media @desktop-width {
    margin-top: 20px;
  }
}

.contacts__phone a {

  @media @tablet-width {
    margin-top: 5px;
  }

  @media @desktop-width {
    margin-top: 24px;
  }
}

.contacts__email a {

  @media @tablet-width {
    margin-top: 7px;
  }

  @media @desktop-width {
    margin-top: 26px;
  }
}

.contacts__email h2,
.contacts__phone h2,
.contacts__address h2 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  color: @main-bg-dark;
}

.contacts__phone h2 {
  padding-bottom: 2px;

  @media @tablet-width {
    padding-bottom: 0;
  }
}

.contacts__email h2 {
  padding-top: 9px;
  padding-bottom: 4px;

  @media @tablet-width {
    margin: 0;
    padding: 0;
  }
}

.contacts__address h2 {
  padding-top: 26px;
  padding-bottom: 4px;
}

.contacts__map {
  width: 100%;
  height: 200px;

  @media @tablet-width {
    height: 378px;
  }

  @media @desktop-width {
    height: 500px;
  }
}
