.downloads {
  min-height: 557px;
  color: #ffffff;
  background-color: @downloads-bg;
  outline: 1px solid red;
}

.downloads__intro {
  min-height: 286px;
  background:
    url("../img/iphone-hand-mobile@1x.png") no-repeat 0 0,
    url("../img/bg-back-mobile@1x.jpg") no-repeat -190px -178px;
  background-color: @downloads-bg;
}

.downloads p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 100;
  color: #ffffff;
}
