.downloads {
  padding-top: 110px;
  outline: 1px solid red;

  @media @tablet-width {
    padding-top: 74px;
  }

  @media @desktop-width {
    padding-top: 99px;
  }
}

.downloads__intro {
  min-height: 286px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;
  outline: 1px dotted red;

  @media @tablet-width {
    display: none;
  }
}

.downloads__main {
  min-height: 271px;
  background-color: @downloads-bg;
  color: #ffffff;
  outline: 1px dotted red;

  @media @tablet-width {
    min-height: 545px;
    background-color: transparent;
  }

  @media @desktop-width {
    min-height: 644px;
  }
}

p.downloads__platforms-list {
  font-size: 18px;
}
