.downloads {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 557px;
  margin-top: 109px;

  .container();

  @media @tablet-width {
    margin-top: 0;
  }

  @media @desktop-width {
    padding-top: 99px;
  }
}

.downloads__content {
  min-height: 271px;
  /*margin for IE*/
  margin-top: 286px;
  background-color: @downloads-bg;
  color: #ffffff;

  @media @tablet-width {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 618px;
    width: 100%;
    margin-top: 0;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat -40px 73px;

    @media @retina {
      background: url("../img/iphone-hand-tablet@2x.png") no-repeat -40px 73px;
      background-size: 700px 545px;
    }
  }

  @media @desktop-width {
    width: 100%;
    min-height: 644px;
    margin-left: 0;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 16px 0;

    @media @retina {
      background: url("../img/iphone-hand-desktop@2x.png") no-repeat 16px 0px;
      background-size: 1050px 645px;
    }
  }
}

p.downloads {
  color: #ffffff;
}

.downloads__slogan {
  display: none;
  min-height: 187px;
  padding: 18px 7px;
  margin-left: 42px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 100;
  text-align: center;

  @media @tablet-width {
    display: block;
    width: 300px;
    min-height: 261px;
    margin: 0;
    padding-top: 92px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media @desktop-width {
    width: 300px;
    min-height: 235px;
    font-size: 50px;
    margin: 0;
    padding-top: 9px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.downloads__download-button {
  display: block;
  width: 280px;
  min-height: 55px;
  margin: 28px auto 30px;
  padding: 14px 5px 16px;
  font-size: 18px;
  line-height: 1.0;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 27px;

  @media @tablet-width {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    margin-bottom: 44px;
  }

  @media @desktop-width {
    margin-bottom: 66px;
    margin-left: 0;
    margin-right: 0;
    font-size: 21px;
    line-height: 0.86;
  }

  &:hover {
    color: @shade-of-red;
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.3;
  }

  cursor: pointer;
}

.downloads__app-stores {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 280px;
  min-height: 56px;
  padding: 0 38px 0 37px;
  font-size: 0;

  @media @tablet-width {
    padding: 0 30px 0 45px;
  }
}

.downloads__android-market {
  @media @tablet-width {
    opacity: 0.4;
  }
}

.downloads__platforms-list {
  width: 240px;
  padding: 24px 5px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 100;
  text-align: center;

  @media @tablet-width {
    width: 300px;
    margin: 0;
    padding: 40px 0;
    font-size: 18px;
    line-height: 1.33;
  }

  @media @desktop-width {
    padding: 58px 0;
  }
}
