.logo {
  width: 100%;
  padding: 21px 20px;
  //padding: 0;
  background-color: transparent;

  @media @desktop-width {

  }

  &--no-js,
  &--nav-opened {
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
  }

  @media @tablet-width {
    padding: 43px 0 41px 112px;

    &--no-js,
    &--nav-opened {
      border-bottom: 1px solid #000000;
      padding-bottom: 41px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 61px;
      height: 40px;
      top: 27px;
      left: 40px;
      background: transparent url("../img/glasses-tablet.png") no-repeat 0 0;
    }
  }

  @media @desktop-width {
    padding-left: 82px;
    width: 30%;

    &::before {
      left: 10px;
    }
  }
}

.logo img {
  width: 75px;
  height: 24px;
  vertical-align: bottom;
}

.logo__link {
  //cursor: pointer;
  fill: #ffffff;

  &:hover {
    fill: @shade-of-red;
  }

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.logo__link a[href] {
  cursor: pointer;
}

.logo__link svg {
  width: 75px;
  height: 22px;
}
