.page-header {
  min-height: 237px;
  outline: 1px solid red;
  background: @main-bg-dark url("../img/bg-back-mobile@1x.jpg") no-repeat top;

  .container();

  @media @tablet-width {
  }

  @media @desktop-width {
  }
}

.page-header__top {
  position: relative;
  min-height: 176px;

  @media @tablet-width {
    min-height: 184px;
  }

  @media @desktop-width {
    min-height: 209px;
  }
}

.page-header p {
  padding: 35px 20px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;

  @media @tablet-width {
    font-size: 50px;
  }
}
