.page-header {
  width: 100%;
  background: @downloads-bg url("../img/bg-back-mobile@1x.jpg") no-repeat top;

  @media @retina {
    background: @downloads-bg url("../img/bg-back-mobile@2x.jpg") no-repeat top;
    background-size: 700px 462px;
  }

  @media @tablet-width {
    background-size: cover;
  }

  @media @desktop-width {

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 110px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media @desktop-width {
    width: 960px;
    margin: 0 auto;
  }
}

.page-header__top {
  min-height: 66px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  @media @desktop-width {
    background-color: transparent;
  }
}

.page-header__bottom {
  padding-top: 109px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left 109px;

  @media @retina {
    background: url("../img/iphone-hand-mobile@2x.png") no-repeat left 109px;
    background-size: 80.9%;
  }

  @media @tablet-width {
    padding-top: 0;
    background: none;
  }

  @media @desktop-width {
    min-height: 99px;
    background: none;
  }
}

.page-header--inner-page .page-header__bottom {
  min-height: 169px;
  padding-top: 0;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -70px;

  @media @retina {
    //background: url;
  }

  @media @tablet-width {
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 -110px;
    min-height: 328px;
  }

  @media @desktop-width {
    min-height: 284px;
    background: none;
  }
}

.page-header--inner-page .page-header__bottom--form {

  @media @tablet-width {
    min-height: 329px;
  }

  @media @desktop-width {
    min-height: 284px;
  }
}

.page-header__text {
  padding: 29px 20px 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 100;
  color: #ffffff;
  text-align: center;

  .container();

  @media @tablet-width {
    padding: 70px 80px 0;
    font-size: 50px;
  }

  @media @desktop-width {
    padding: 63px 155px 0;
  }
}

.page-header__text--form {

  @media @tablet-width {
    padding: 70px 60px 0;
  }

  @media @desktop-width {
    padding: 63px 90px 0;
  }
}

@media @mobile-and-tablet-width-only {

  .page-header--nav-opened,
  .page-header--no-js {
    background-position: center 258px;
  }

  .page-header--nav-opened .page-header__top,
  .page-header--no-js .page-header__top {
    background-color: @main-bg-dark;
  }
}
