.special-offer__intro {
  font-size: 14px;
  line-height: 2.1;
  color: @main-bg-dark;
  min-height: 140px;
  padding: 0 20px;
  outline: 1px solid blue;
}

.special-offer__name-input {
  min-height: 394px;
  padding: 0 20px;
  outline: 1px solid blue;
}

.special-offer__name-input label,
.special-offer__achievements p,
.special-offer__contacts label,
.special-offer__app-name p,
.special-offer__comment label {
  font-size: 14px;
  line-height: 2.1;
  color: @shade-of-red;
  text-transform: uppercase;
}

.special-offer__achievements p,
.special-offer__app-name p{
  line-height: 1.3;
}

.special-offer__achievements label,
.special-offer__app-name label,
.special-offer__name-input input,
.special-offer__contacts input,
.special-offer__comment textarea,
.special-offer__submit p {
  font-size: 18px;
  line-height: 1.67;
  color: @main-bg-dark;
}

.special-offer__achievements {
  min-height: 604px;
  padding: 0 20px;
  background-color: @main-bg-light;
  outline: 1px solid blue;
}

.special-offer__contacts {
  min-height: 287px;
  padding: 0 20px;
  outline: 1px solid blue;
}

.special-offer__app-name {
  min-height: 340px;
  padding: 0 20px;
  background-color: @main-bg-light;
  outline: 1px solid blue;
}

.special-offer__comment {
  min-height: 321px;
  padding: 0 20px;
  outline: 1px solid blue;
}

.special-offer__submit {
  min-height: 143px;
}

.special-offer {
  outline: 1px solid red;
}

