.user-reviews {
  min-height: 377px;
  outline: 1px solid red;
}

.user-reviews__review {
  padding: 0 20px;
}

.user-reviews__author-name {
  font-size: 18px;
  line-height: 1.67;
}

.user-reviews__text {
  font-size: 14px;
  line-height: 2.14;
}
