.users-photos {
  background-color: #ffffff;
}

.users-photos__intro p {
  padding: 45px 35px 50px;
  font-size: 14px;
  line-height: 2.15;
  text-align: center;
  color: @main-bg-dark;

  .container();

  @media @tablet-width {
    padding: 92px 50px 76px;
    font-size: 18px;
    line-height: 1.67;
  }

  @media @desktop-width {
    padding: 92px 160px 38px;
  }
}

.user-photos__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 1993px;
  max-width: 559px;
  margin: 0 auto;
  padding-top: 21px;

  @media @tablet-width {
    align-content: space-between;
    min-height: 1455px;
    max-width: 919px;
    padding: 50px 10px 0;
  }

  @media @desktop-width {
    padding: 0;
    min-height: 1214px;
    max-width: 1199px;
  }

}

.user-photo {
  margin: 0 auto;

  @media @desktop-width {
    height: 555px;
    margin-top: 50px;
  }
}

.user-photo--featured {

  @media @tablet-width {
    background-color: #ffffff;
  }

  @media @desktop-width {
    width: 100%;
    min-height: 602px;
  }
}


.user-photo__user-img {
  width: 280px;
  height: 180px;
  margin: 0 auto;

  @media @tablet-width {
    width: 300px;
    height: 300px;
  }

  @media @desktop-width {
    height: 400px;
  }
}

.user-photo__user-img--featured {
  width: 320px;
  height: 137px;
  margin: 0 auto;

  @media @tablet-width {
    width: 660px;
    height: 509px;
  }

  @media @desktop-width {
    width: 960px;
    height: 506px;
  }
}

.user-photo__user-img img {
  width: 100%;
  height: 100%;
}

.user-photo__description {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  padding: 18px 0 16px 0;
  font-size: 14px;
  line-height: 1.75;
  color: @main-bg-dark;
  background-color: @main-bg-light;

  @media @tablet-width {
    align-items: flex-end;
    justify-content: space-between;
    width: 300px;
    min-height: 154px;
    padding: 18px 10px 16px 10px;
  }
}

  .user-photo__comment {
    min-width: 60%;
    padding-left: 17px;

    @media @tablet-width {
      min-height: 48px;
      align-self: flex-start;
      padding: 0 10px 0 17px;
    }

    @media @desktop-width {
      min-height: 48px;
    }
  }

  .user-photo--featured p {
    min-width: 60%;
    padding-left: 17px;

    @media @tablet-width {
      min-height: 30px;
    }

    @media @desktop-width {
      padding-left: 27px;
    }
  }

  .user-photo--featured .user-photo__description {
    padding: 17px 0 17px 0;

    @media @tablet-width {
      align-content: center;
      width: 620px;
      min-height: 121px;
      padding: 0;
    }

    @media @desktop-width {
      width: 940px;
      min-height: 96px;
    }
  }

  .user-photo--featured .user-photo__comment {

    @media @tablet-width {
      margin-left: 11px;
    }

    @media @desktop-width {
      margin-left: 28px;
      margin-bottom: 3px;
      padding: 0;
    }
  }

  .user-photo--featured .user-photo__info {

    @media @tablet-width {
      order: -2;
    }

    @media @desktop-width {
      margin-top: 9px;
    }
  }

  .user-photo__author-name {
    padding-left: 17px;
    font-size: 14px;
    line-height: 1.72;
    font-weight: bold;

    @media @tablet-width {
      padding-left: 18px;
    }

    @media @desktop-width {
      padding-left: 17px;
    }
  }

  .user-photo--featured .user-photo__author-name {

    @media @tablet-width {
      padding-left: 28px;
    }
  }

  .user-photo__time {
    font-size: 12px;
    font-weight: 100;
    line-height: 2;
    text-transform: uppercase;
  }

  .user-photo__likes {
    position: relative;
    margin-top: 10px;
    padding-left: 49px;
    font-size: 12px;
    line-height: 24px;
    color: @shade-of-red;
    text-transform: uppercase;

    @media @tablet-width {
      align-self: flex-end;
      width: 100%;
      margin-top: 0;
      padding: 1px 40px 5px 18px;
    }
  }

  .user-photo--featured .user-photo__likes {

    @media @tablet-width {
      max-width: 30%;
      //margin-top: 10px;
      padding: 0 0 0 38px;
      order: -1;
    }

    @media @desktop-width {
      max-width: 20%;
      padding: 2px 0 0 37px;
      margin-top: 0;
    }

  }

  .user-photo__likes::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 12px;
    top: 5px;
    left: 18px;
    background: url(../img/icon-heart.png) no-repeat;

    @media @tablet-width {
      left: auto;
      top: 6px;
      right: 22px;
    }
  }

  .user-photo--featured .user-photo__likes::before {

    @media @tablet-width {
      left: auto;
      top: 6px;
      right: 29px;
    }

    @media @desktop-width {
      right: 31px;
    }
  }

  .users-photos__closing-text {
    padding: 20px 12px 43px 8px;
    font-size: 14px;
    line-height: 2.15;
    text-align: center;
    font-weight: normal;
    color: @main-bg-dark;

    @media @tablet-width {
      padding: 65px 10px 70px;
      font-size: 18px;
      line-height: 1.67;
    }

    @media @desktop-width {
      padding: 60px 10px 65px;
    }
  }
